*{
    font-family: 'Shadows Into Light', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html,body{
    height: 100%;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.main{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header , .footer{
    margin: 10px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text , .footer-text{
  font-size: 50px;
  font-weight: lighter;
}


.box{
    height:450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
}


.led-panel{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-size: larger;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid black;
    width: 90%;
    height: 60px;
}
button{
    border-radius: 50px;
    font-size: large;
    flex: 1;
    background-color: whitesmoke;
    border: 1px thin black;
}

.git{
    border: 1px solid black;
    width: 90%;
    text-align: center;
}
.btn-panel{
    width: 90%;
    height: 60%;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-1 , .row-2 , .row-3 , .row-4, .row-5{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    
}

button:active{
    background-color:black;
    color: whitesmoke;
}
